!!! 5
html(lang="en")
  head
    title Mochi v2!
    // Stylesheets
    link(rel='stylesheet', href='/js/lib/chosen/chosen.css')  // Stylesheet for Chosen (sexy dropdowns)    
    link(rel='stylesheet', href='/css/style.css') // Core stylesheet


    

    // Libraries
    script(type='text/javascript', src='/js/lib/jquery-1.6.3.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/lib/underscore-min.js')
    script(type='text/javascript', src='/js/lib/backbone-min.js')
    script(type='text/javascript', src='/js/lib/json2.js')
    script(type='text/javascript', src='/js/lib/handlebars-1.0.0.beta.2.js')
    script(type='text/javascript', src='/js/lib/chosen/chosen.jquery.min.js')
    
    // App files Currently we've got everything in separate files. Soon we should compile into one file.
    script(type='text/javascript', src='/js/reports.js')
    script(type='text/javascript', src='/js/mochi.js')    
    
    // Handlebars Templates - move these to separate files eventually
    !=partial('templates/reports')
    !=partial('templates/reports/salesTax')
    !=partial('templates/reports/newClients')
    !=partial('templates/reports/selectStylist')

  body(id="mochi")
    header.adminBar
      .busName
        p 
          a(href='/') Bloom Beauty Lounge
      .adminBtn
        p 
          a(href='/#!/reports') Reports
      .clear
    .calSearchCheckBar
      p
  != body