!!! 5
html(lang="en")
  head
    title Mochi v2!
    link(rel='stylesheet', href='/css/style.css')

    // Libraries
    script(type='text/javascript', src='/js/lib/jquery-1.6.3.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/lib/underscore-min.js')
    script(type='text/javascript', src='/js/lib/backbone-min.js')
    script(type='text/javascript', src='/js/lib/json2.js')
    script(type='text/javascript', src='/js/lib/handlebars-1.0.0.beta.2.js')
    
    // App files Currently we've got everything in separate files. Soon we should compile into one file.
    script(type='text/javascript', src='/js/reports.js')
    script(type='text/javascript', src='/js/mochi.js')    
    
    // Handlebars Templates - move these to separate files eventually
    script(type='text/x-handlebars-template', id='salesTax-template')
      {{#each report}}
      {{#dates}}
      p Start Date:
      {{start}}
      p End Date:
      {{end}}
      {{/dates}}
      
      {{#totals}}
      p Totals:
      {{services}}
      {{products}}
      {{/totals}}
      
      p Tax:
      {{#tax}}
      Services: 
      {{services}}

      p Products: 
      {{products}}
      {{/tax}}
      {{/each}}

  body(id="mochi")
    header.adminBar
      .busName
        p 
          a(href='/') Bloom Beauty Lounge
      .adminBtn
        p 
          a(href='/#!/reports') Reports
      .clear
    .calSearchCheckBar
      p
  != body