// Individual User Profile
script(type='text/x-handlebars-template', id='users-template')
  {{#each user}}
  // Header
  .noteToolbar
    p
      a(href='#')
        span.smallCalIcon
        | Checkout this Client
      a(href='#')
        span.noteIconAdd
        | Add a Note
      a(href='#')
        span.noteIconEmail
        | Send an E-mail
      a(href='#')
        span.noteIconAppt
        | Make an Appointment
  .profileName
    .female
      input(name='clientname', type='text', value='{{name}}')
  .clear

  // Notes
  .noteContainer
    {{#each notes}}  
    .noteWrapperLast
      table(border='0', cellpadding='0', cellspacing='0')
        tbody
          tr
            td
              .noteDate
                p 10-26-06
            td.note
              input(name='textfield', type='text', id='textfield', value='{{message}}')
            td
              .noteDelete
                a(href='#', title='Delete Note')
    {{/each}}
    
  // Left Column
  .userLeftCol.floatLeft
    // E-mail
    label.titleBar
      p E-mail Address
    .emailInput
      input(type='text', name='email', value='{{email}}')
    
    // Phone Number(s)
    label.titleBar
      p Phone Number
    .phoneRow
      {{#each phone}}
      .phoneNum
        input(type='text', name='phone', value='{{number}}')
      .phoneType
        select(class='chzn-select', style='width:140px', value='{{type}}')
          option Mobile
          option Home
          option Work
      .addBtn
        a(href='#', title='Add a phone number')
      {{/each}}
    
    .clear
    // Address
    label.titleBar
      p Mailing Address
    label.subTitleBar.streetaddress
      p Street Address
    label.subTitleBar.apt
      p Apartment #
    
    .streetaddressInput
      input(type='text', name='street', value='{{address.street}}')
    .aptInput
      input(type='text', name='apt', value='{{address.apartment}}')

    
  
  // Right Column
  .userRightCol.floatLeft
    .titleBarColor
      p Preferred Stylist
  
  {{/each}}