// Report container template
script(type='text/x-handlebars-template', id='report-template')
  // Start Listing
  .listingName
    .youSearched
      | Stylist:
    .srchResult
      // selectStylist template goes here
  .clear
  .listingContainer.clearfix