// Report - New Clients frontend template
script(type='text/x-handlebars-template', id='newClients-template')
  .listingBar
    {{#each report}}
    a(href='#')
      .colLastTrans E-mail
    a(href='#')
      .colUser Name &#x25BE;
    a(href='#')
      .colPhone Phone
    .clear
  .listingList
    ul
      // Start listing users!
      {{#each clients}}
      li
        a(href='#!/users/{{uid}}')
          .colLastTrans 
            {{email}}
          .colUser
            {{name}}
          .colPhone
            {{#each phone}}
            {{number}}
            em ({{type}})
            {{/each}}                  
          .clear
      {{/each}}
      

  {{#dates}}
  h3 Start Date:
    {{start}}
    | End Date:
    {{end}}
  {{/dates}}
  {{/each}}